p {
    display: inline-block;
    color: black;
    background-color: rgb(165, 157, 241);
    padding: 10px;
    text-align: center;
    font-size: large;
}


/* body {
    background-color: lightgray;
 
  } */
footer{

    text-align: center;
    padding-top: 20px;
    font-size:x-large;
}
header{
    
    
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;

    font-size: xx-large;
    text-align: center;



}
div {

    text-align: center;
    font-size: large;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size:x-large;


}
ol{ list-style-type: decimal;
list-style-position: inside;
font-size:x-large;


}
ul{ list-style-type:circle;
    list-style-position: inside;
    text-align: center;
    font-size:x-large;
    margin-bottom: 10px;
    padding-left: 5px;
    
    
    }
    #p{
   
        text-align: center;
        font-size:x-large;
    }
    body { 
        color: white;
         background-color: rgb(54, 53, 53); 
        font-family: "Sofia", sans-serif;
        font-size:x-large;
        
        }
